<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @proyect_file.name %>
</p>

<p>
  <strong>Url img:</strong>
  <%= @proyect_file.url_img %>
</p>

<p>
  <strong>Format img:</strong>
  <%= @proyect_file.format_img %>
</p>

<p>
  <strong>Proyect:</strong>
  <%= @proyect_file.proyect %>
</p>

<%= link_to 'Edit', edit_proyect_file_path(@proyect_file) %> |
<%= link_to 'Back', proyect_files_path %>
