
  <%= form_for(@proyect) do |f| %>
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-7 col-md-offset-2">
      <% if @proyect.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@proyect.errors.count, "error") %> prohibited this proyect from being saved:</h2>
          <ul>
          <% @proyect.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <div class="" style="padding-left:0">
         <%= f.label "Cover", class: "control-label" %>
          <div class="">
            <div class="thumbnail" style="overflow:hidden;">
              <div id="target">
                <%= image_tag @proyect.cover.url( :thumb ), class: "img-responsive" %>
              </div>
              <br>
              <%= f.file_field :cover, class: "image" %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title , class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body ,class:"form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :start_date %><br>
        <%= f.text_field :start_date ,class:"form-control", id:"datepicker" %>
      </div>
      <div class="form-group">
        <%= f.label :finish_date %><br>
        <%= f.text_field :finish_date ,class:"form-control", id:"datepicker2" %>
      </div>
      <div class=" ">
          <%= f.label "responsibles" %><br>
            <% if @responsibles.present? %>
               <%= f.select :responsibles, options_for_select(@responsibles.collect{|responsible| [responsible.first_name,responsible.id]}, @proyect.responsibles.map{|responsible| responsible.id}), {}, {:multiple => "multiple", :class=>'form-control selectpicker', 'data-live-search'=>true, 'data-style'=>'btn-success'} %>
            <% else %>
             <p>No hay responsables</p>
             <%= link_to  "Add New" , new_responsible_path%>
            <%end%>
       </div>
        <div class="">
         <%= f.label "categories" %><br>
          <% if @categories.present? %>
            <%= f.select :categories, options_for_select(@categories.collect{|c| [c.name,c.id]}, @proyect.categories.map{|c| c.id}), {}, {:multiple => "multiple", :class=>'form-control selectpicker', 'data-live-search'=>true, 'data-style'=>'btn-success'} %>
            <% else %>
            <p> No hay Categorias </p>
          <%= link_to  "Add New" , new_category_path%>
          <% end %>
        </div>
        <div class="actions col-xs-12 text-center" >
          <%= f.submit class:"btn btn-primary" %> <%= link_to 'Back', proyects_path , class:"btn btn-warning" %>
        </div>
      </div> 
    </div>

<% end %>
