<article class="  col-md-9 clearfix" >
  <div class="row">
  <h1>Listing Categories</h1>

    <div class="col-xs-12">
          <a href="<%= new_category_path %>" class="btn btn-primary" alt="Add Category " title="Add Category">
            <span class="glyphicon glyphicon-edit"></span>&nbsp; Add Category 
          </a>
          
    </div> 

    <div class="col-xs-12 " style="margin-top: 1em;">
       <table class="table table-striped">
          <thead>
            <tr>
              <th width="30%">Name</th>
              <th width="30%">Color</th>
              <th width="40%" colspan="3" class="text-center">Acciones</th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td style="color: <%= category.color %>;"><%= category.color %></td>
                <td class="text-center"><%= link_to "<span class=\"blue glyphicon glyphicon-sunglasses\"></span>".html_safe , category  %></td>
                <td class="text-center"><%= link_to "<span class=\"green glyphicon glyphicon-edit\"></span>".html_safe, edit_category_path(category) %></td>
                <% if current_user.is_admin? %>
                  <td class="text-center"><%= link_to  "<span class=\"red glyphicon glyphicon-trash\"></span>".html_safe, category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                 <%end%>  
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
     
  </div>
</article>  


