<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Url img:</strong>
  <%= @image.url_img %>
</p>

<p>
  <strong>Format:</strong>
  <%= @image.format %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.proyect %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
